XML/Hospital.dtd


 <!ELEMENT Hospital (name, city, ListOfWorkers)>
   <!ELEMENT name (#PCDATA)>
   <!ELEMENT city (#PCDATA)>
   <!ELEMENT ListOfWorkers (Worker+)>
   <!ELEMENT Worker (name, job, salary, hireDate, endDate)>
   <!ELEMENT name (#PCDATA)>
	<!ELEMENT job (#PCDATA)>
	<!ELEMENT salary (#PCDATA)>
	<!ELEMENT hireDate (#PCDATA)>
	<!ELEMENT endDate (#PCDATA)>	
<!ATTLIST Worker id CDATA #REQUIRED>


