XML/Hospital.dtd


 <!ELEMENT Patient (name, gender, bloodType, roomNumber, PatientDisease)>
   <!ELEMENT name (#PCDATA)>
   <!ELEMENT gender (#PCDATA)>
   <!ELEMENT bloodType (#PCDATA)>
   <!ELEMENT roomNumber (#PCDATA)>		
   <!ATTLIST Patient id CDATA #REQUIRED>
   <!ELEMENT PatientDisease (Disease+)>  
	<!ELEMENT Disease (Prescription)>
      	<!ELEMENT Prescription (#PCDATA)>
<!ATTLIST Disease name CDATA #REQUIRED>


